body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**************************************************************************/
/* Déclaration de la police speciale (1-2-3 Go)
    Source (http://www.policedecriture.com/fonts/11125/argor_got_scaqh.html) */
@font-face {
    font-family: "Go 123";
    src: url("../polices/1_2_3_go/123_GO.ttf");
}

/* Déclaration de la police speciale (Alpha Rev)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Alpha Rev";
    src: url("../polices/gemfonts/alpharev/AlphaRev.ttf");
}

/* Déclaration de la police speciale (Alpha Rev Hollow)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Alpha Rev Hollow";
    src: url("../polices/gemfonts/alpharev/AlphaRevHollow.ttf");
}

/* Déclaration de la police speciale (Amerton Outline)
    Source (http://www.fontspace.com/category/outlined?p=31) */
@font-face {
    font-family: "Amerton Outline";
    src: url("../polices/roger-white/amerton-outline/AMERTO.ttf");
}

/* Déclaration de la police speciale (Amerton Outline Italic)
    Source (http://www.fontspace.com/category/outlined?p=31) */
@font-face {
    font-family: "Amerton Outline";
    font-style: italic;
    src: url("../polices/roger-white/amerton_outline/AMERTO_I.ttf");
}

/* Déclaration de la police speciale (Amin Hurgada)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Amin Hurgada Outline";
    src: url("../polices/sughayer-foundry/amin-hurgada-outline/Amin_Hurgada_Outline.ttf");
}

/* Déclaration de la police speciale (Amin Storm)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Amin Ripple";
    src: url("../polices/sughayer-foundry/amin-ripple/Amin_Ripple.ttf");
}

/* Déclaration de la police speciale (Amin Sleazy)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Amin Sleazy";
    src: url("../polices/sughayer-foundry/amin-sleazy/Amin_Sleazy.ttf");
}

/* Déclaration de la police speciale (Amin Storm)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Amin Storm";
    src: url("/polices/sughayer-foundry/amin-storm/Amin_Storm.ttf");
}

/* Déclaration de la police speciale (Argor Got Scaqh)
    Source (http://www.policedecriture.com/fonts/11125/argor_got_scaqh.html) */
@font-face {
    font-family: "Argor Got Scaqh";
    src: url("/polices/Argor_got_scaqh/Arggotsc.ttf");
}

/* Déclaration de la police speciale (Argor Got Scaqh)
    Source (http://www.policedecriture.com/fonts/11125/argor_got_scaqh.html) */
@font-face {
    font-family: "Archistico";
    src: url("/polices/archistico/Archistico_Simple.ttf");
}

/* Déclaration de la police speciale (Bad Guy Black)
    Source (http://www.policedecriture.com/) */
@font-face {
    font-family: "Bad Guy Black";
    src: url("/polices/bad-guy-black/Bad_Guy_Black.ttf");
}

/* Déclaration de la police speciale (Barber Shop)
    Source (http://www.policedecriture.com/) */
@font-face {
    font-family: "Barber Shop";
    src: url("/polices/barber_shop/Barber_shop.ttf");
}

/* Déclaration de la police speciale (BB Petie Boy)
    Source (http://www.dafont.com/fr/theme.php?cat=103) */
@font-face {
    font-family: "Barrel House";
    src: url("/polices/barrelhouse_all_cap/Barrelhouse All Caps.ttf");
}

/* Déclaration de la police speciale (BB Petie Boy)
    Source (http://www.policedecriture.com/fonts/11331/bb_petie_boy.html) */
@font-face {
    font-family: "BB Petie Boy";
    src: url("/polices/bb_petie_boy/BB Petie Boy Heavy.ttf");
}

/* Déclaration de la police speciale (Breeze Caps Oblic)
    Source (http://www.policedecriture.com/) */
@font-face {
    font-family: "Breezed Caps Oblic";
    src: url("/polices/breezed_caps_oblique/BREECBO.ttf");
}

/* Déclaration de la police speciale (Broadcast Titling)
    Source (http://www) */
@font-face {
    font-family: "Broadcast Titling";
    src: url("/polices/dieter-steffmann/broadcast-titling/BroadcastTitling.ttf");
}
/* Déclaration de la police speciale (Butterfly)
    Source (http://www.fontspace.com/category/outlined?p=43) */
@font-face {
    font-family: "Butterfly Letters";
    src: url("/polices/darrian-lynx/butterfly-letters/Butterfly-Letters.ttf");
}

/* Déclaration de la police speciale (Cameo Antique)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Cameo Antique";
    src: url("/polices/character/cameo-antique/CameoAntique.ttf");
}

/* Déclaration de la police speciale (Cameo Antique)
    Source (http://www.ufonts.com) */
@font-face {
    font-family: "Caslon Open Face";
    src: url("/polices/caslon/caslon-openface-bt.ttf");
}

/* Déclaration de la police speciale (Cameo Antique)
    Source (http://www.ufonts.com) */
@font-face {
    font-family: "Casque Open Face";
    src: url("/polices/casque/casqueof.ttf");
}

/* Déclaration de la police speciale (Coffeetin)
    Source (http://www.fontspace.com/rick-mueller/coffee-tin) */
@font-face {
    font-family: "Coffee Tin";
    src: url("/polices/coffeetin/CoffeeTin Initials.ttf");
}

/* Déclaration de la police speciale (Crystal)
    Source (http://www.) */
@font-face {
    font-family: "Crystal";
    src: url("/polices/george-william/crystal/Crystal.ttf");
}

/* Déclaration de la police speciale (Decorative)
    Source () */
@font-face {
    font-family: "Decorative";
    src: url("/polices/george-william/decorative/Decorative.ttf");
}

/* Déclaration de la police speciale (Easy Open Face)
    Source () */
@font-face {
    font-family: "Easy Open Face";
    src: url("/polices/easy_open_face/EasyOpenFace.ttf");
}

/* Déclaration de la police speciale (Foglighten03)
    Source (http://www) */
@font-face {
    font-family: "Foglihten No3";
    src: url("/polices/gluk/foglihten03/FoglihtenNo03.otf");
}

/* Déclaration de la police speciale (Freehand Roman)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Freehand Roman";
    src: url("/polices/runes-and-fonts/freehand-roman/Freehand-Roman.ttf");
}

/* Déclaration de la police speciale (Friday Night Lights)
    Source (http://www.fontspace.com/category/poster?p=2) */
@font-face {
    font-family: "Friday Night Lights";
    src: url("/polices/kc-fonts/friday-night-lights/FNL_DEMO-KCFonts.ttf");
}

/* Déclaration de la police speciale (Gardenia Victorian)
    Source (http://www.1001freefonts.com/serif-fonts-6.php) */
@font-face {
    font-family: "Gardenia Victorian";
    src: url("/polices/douglas-day/GardeniaVictorian.ttf");
}

/* Déclaration de la police speciale (Gardenia Victorian)
    Source (http://www.1001freefonts.com/serif-fonts-6.php) */
@font-face {
    font-family: "Gastada";
    src: url("/polices/astramat/gastada/GASTADA.ttf");
}

/* Déclaration de la police speciale (Gloucester Open Face)
    Source (http://www.fontspace.com/category/outlined?p=29
    http://www.1001freefonts.com/serif-fonts-6.php) */
@font-face {
    font-family: "Gloucester Open Face";
    src: url("../Content/Polices/rw_gloucester_open_face/gloucest.ttf");
}

/* Déclaration de la police speciale (Scorched Earth)
    Source (http://www.fontspace.com/category/poster?p=9) */
@font-face {
    font-family: "Good Morning";
    src: url("/polices/kc-fonts/good-morning-afternoon/GoodMorningAfternoon.ttf");
}

/* Déclaration de la police speciale (Great Band)
    Source (http://www.dafont.com/fr/theme.php?cat=106&page=11) */
@font-face {
    font-family: "Great Band";
    src: url("/polices/greatband/GreatBand.ttf");
}

/* Déclaration de la police speciale (Gresham)
    Source (http://www.dafont.com/fr/theme.php?cat=106&page=11) */
@font-face {
    font-family: "Gresham";
    src: url("/polices/roger-white/gresham/GRESHAM.ttf");
}

/* Déclaration de la police speciale (Hungover Outline)
    Source (http://www.fontspace.com/category/outlined?p=68) */
@font-face {
    font-family: "Hungover Outline";
    src: url("/polices/gemfonts/hungover-outline/Hungover-Outline.ttf");
}

/* Déclaration de la police speciale (M Excellent)
    Source (http://www.dafont.com/fr/theme.php?cat=103) */
@font-face {
    font-family: "M Excellent";
    src: url("../polices/mexcellent/mexcellent 3d.ttf");
}

/* Déclaration de la police speciale (Nauert Regular)
    Source () */
@font-face {
    font-family: "Nauert Regular";
    src: url("/polices/david-rawoski/nauert/NauertRegular.ttf");
}

/* Déclaration de la police speciale (Nauert Wd)
    Source () */
@font-face {
    font-family: "Nauert Wd";
    src: url("/polices/david-rawoski/nauert/NauertWd-Plain.ttf");
}

/* Déclaration de la police speciale (Network Vampire)
    Source (http://www.) */
@font-face {
    font-family: "Network Vampire";
    src: url("../Content/Polices/billy-argel/network-vampires/NETWORK.otf");
}

/* Déclaration de la police speciale (Alpha Rev)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "Offset Plain";
    src: url("../polices/gemfonts/offset-plain/Offset-Plain.ttf");
}

/* Déclaration de la police speciale (Post Office) 
    Source (http://www.dafont.com/fr/theme.php?cat=106&page=2) */
@font-face {
    font-family: "Post Office";
    src: url("../polices/post_office/POSTOFFICE.ttf");
}

/* Déclaration de la police speciale (Prida01) 
    Source () */
@font-face {
    font-family: "Prida 01";
    src: url("../polices/gluk/prida01/Prida01.ttf");
}

/* Déclaration de la police speciale (Prida36) 
    Source () */
@font-face {
    font-family: "Prida 36";
    src: url("../polices/gluk/prida36/Prida36.ttf");
}

/* Déclaration de la police speciale (Prisma) 
    Source (http://www.dafont.com/fr/theme.php?cat=103) */
@font-face {
    font-family: "Prisma";
    src: url("../polices/prisma/Prisma.ttf");
}

/* Déclaration de la police speciale (Prisma) 
    Source (http://www.dafont.com/fr/theme.php?cat=103) */
@font-face {
    font-family: "Prisma";
    src: url("../polices/prisma/Prisma.otf");
}

/* Déclaration de la police speciale (Rosewood Standard) */
@font-face {
    font-family: "Rosewood Standard";
    src: url("../polices/RosewoodStd-Regular.otf");
}

/* Déclaration de la police  version "gras"
    @font-face{
        font-family: "Rosewood Standard";
        font-weight: bold;
        src: url("../polices/RosewoodStd-Bold.otf");*/
}

/* Déclaration de la police speciale (Scorched Earth)
    Source (http://www.fontspace.com/category/poster?p=7) */
@font-face {
    font-family: "Scorched Earth";
    src: url("../polices/kc-fonts/scorched-earth/ScorchedEarthDEMO-KCFonts.ttf");
}

/* Déclaration de la police speciale (Serial Publication)
    Source (http://www.fontspace.com/category/poster?p=4) */
@font-face {
    font-family: "Serial Publication";
    src: url("../polices/kc-fonts/serial-publication/SerialPublicationDEMO.ttf");
}

/* Déclaration de la police speciale (Wood Cut) 
    Source (http://www.dafont.com/fr/theme.php?cat=106&page=2) */
@font-face {
    font-family: "Shadowed Serif";
    src: url("../polices/shadowed_serif/SHADSER.ttf");
}

/* Déclaration de la police speciale (Tarantino)
    Source () */
@font-face {
    font-family: "Tarantino";
    src: url("../polices/hero-fonts/tarantino/tarantino.ttf");
}

/* Déclaration de la police speciale (Tarantino)
    Source () */
@font-face {
    font-family: "West Balaio";
    src: url("../polices/intellecta-design/westbalaio/WestBalaio.ttf");
}

/* Déclaration de la police speciale (Znikomit 25) 
    Source () */
@font-face {
    font-family: "Vtks Revolt";
    src: url("../polices/vtks-design/vtks-revolt/Vtks Revolt.ttf");
}

/* Déclaration de la police speciale (White Line Fever 3D)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "White Line Fever 3D";
    src: url("../polices/gemfonts/white-line-fever/WhiteLineFever3D100.ttf");
}

/* Déclaration de la police speciale (White Line Fever)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "White Line Fever";
    src: url("../polices/gemfonts/white-line-fever/WhiteLineFever100.ttf");
}

/* Déclaration de la police speciale (White Line Fever Light)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "White Line Fever Light";
    src: url("../polices/gemfonts/white-line-fever/WhiteLineFeverLight100.ttf");
}

/* Déclaration de la police speciale (White Line Fever Light 3D)
    Source (http://www.fontspace.com) */
@font-face {
    font-family: "White Line Fever Light 3D";
    src: url("../polices/gemfonts/white-line-fever/WhiteLineFeverLight3D100.ttf");
}

/* Déclaration de la police speciale (Wood Cut) 
    Source (http://www.dafont.com/fr/theme.php?cat=106&page=2) */
@font-face {
    font-family: "Wood Cut";
    src: url("../polices/woodcut/WOODCUT.ttf");
}

/* Déclaration de la police speciale (Yellow Design Studio) 
    Source (http://www.fontspace.com/category/branding?p=3) */
@font-face {
    font-family: "Yellow Design Studio";
    src: url("../polices/yellow-design-studio/GistRoughUprExboldTwoDemo.otf");
}

/* Déclaration de la police speciale (Znikomit 25) 
    Source () */
@font-face {
    font-family: "Znikomit 25";
    src: url("../polices/gluk/znikomit25/ZnikomitNo25.otf");
}

/***************************************** Fin de declaration des polices speciales *******************************************/
    

/**************************************************************************/

#condensed-description h2 {
    padding: 0px;
    color: aliceblue;
    border: 1px solid #0E77A7;
    background-color: #0E77A7;
    font-family: 'Times New Roman', 'Bookman Old Style';
}
.custom-button {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius: 25px;
}

.btn-custom-style {
    border-radius: 25px;
    width : 9em;
    height : 2.5em;
    padding : 0.5em;
    font-size : 16px;
    text-align : center;
    background-color : #0E77A7;
}

footer {
    text-align : center;
    /*font-size : 1.5em;*/
    height : 9em;
    color:aliceblue;
}

#footer-list-panel {

}

#footer-mid-panel {
    background-image: url('Graphics/Blue_Ideal0.jpg');
    background-image: url('Graphics/Blue-Sky-Buttons.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2.5em;
    vertical-align: middle;
    padding: 0.5em;
    background-color: #0e77a7;
}

#footer-top-panel {
    background-image: url('Graphics/Blue-Sky-Buttons.jpg');
    background-image: url('Graphics/Goldgen7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.5em;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-mid-panel {
    background-image: url('Graphics/Blue-Sky-Button.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#header-top-panel {
    background-image: url('Graphics/Goldgen7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
    /*
    font-family: 'Times New Roman','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-style: oblique;
    */
    color: #0E77A7;
    color: midnightblue;
    font-variant-caps: all-small-caps;
}

#header-top-panel ul {
    color : #0E77A7;
    /*background-color : #0E77A7;*/
}

#header-top-panel ul li {
    /*border : 1px solid #0E77A7;
    background-color : #0E77A7;*/
}

.intro {
    font-family: 'Network Vampire';
    font-family: 'Gloucester MT';
    font-family: 'Gloucester Open Face';
}

.jumbotron {
    background-color: lightblue;
    font-family: 'Rosewood Standard';
}

#myCarousel img {
    width: 100%;
    height: inherit;
}

.navbar-header {
    height : 4.5em;
}

.navbar-inverse {
    background-color: #0e77a7;
    border-color: #0e77a7;
}

/*
html, body {
    height: 100%;
}

.carousel, .item, .active {
    width: 100%;
    height: auto;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}
*/
